@import '../../styles/colors.scss';

.Config {
  position: relative;

  &-Textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
  }

  &-Status {
    display: block;
    font-weight: bold;
    &_error {
      color: $error-color;
    }
    &_success {
      color: forestgreen;
    }
  }

  &-Controls {
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
  }

  &-Button {
    min-width: 5rem;
  }
}
