@import '../../styles/colors.scss';

.Navigation {
  display: flex;
  &__Tab {
    flex: 1;
    text-align: center;
    color: inherit;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 1px solid black;
    border-bottom: none;

    display: inline-block;
    text-decoration: none;
    max-width: 10rem;
    padding: 0.5rem 1rem;

    &_active {
      background-color: $button-active-color;
      font-weight: bold;
      pointer-events: none;
    }

    &:hover {
      background-color: $button-hover-color;
    }
  }
}
