@import '../../styles/colors.scss';

.Result {
  &-Error {
    color: $error-color;
    font-weight: bold;
  }
}

.GeneratedForm {
  &-Title {
    font-size: 1.5rem;
  }
  &-Fieldset {
    border: none;
    display: flex;
    align-items: flex-end;
  }
  &-Label {
    display: inline-flex;
    flex: 1 0 auto;
    max-width: 7rem;
    padding-right: 1rem;
  }
  &-Controls {
    display: flex;
    flex-direction: row-reverse;
  }
  &-Button {
    padding: 0 1em;
    margin: 1em;
  }
}
